.results {
    display: flex;
    flex-direction: row;
    width: 1000px;
}

img {
    width: 400px;
    height: auto;
}

.info {
    width: 600px;
    padding: 10px;
    border: 1px solid black;
}

.hidden {
    display: none;
}